<c-row>
   
    
    <c-col width=100% xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Radar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="radar" [data]="chartRadarData1" [options]="options" />
        </c-card-body>
      </c-card>
    </c-col>
      
    <c-col width=100% xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Radar Chart3
        </c-card-header>
        <c-card-body>
          <c-chart type="radar" [data]="chartRadarData2" [options]="options" />
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
   
    
    <c-col width=100% xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Radar Chart1
        </c-card-header>
        <c-card-body>
          <c-chart type="radar" [data]="chartRadarData" [options]="options" />
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  
  

  
  