<!doctype html>
<html lang="en">

  <c-row>

    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Area Chart 1
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]="chartAreaData" [options]="options" />
        </c-card-body>
      </c-card>
    </c-col>
    
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Area Chart 2
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]="chartAreaData2" [options]="options" />
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Area Chart3 
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]="chartAreaData3" [options]="options" />
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

</html>
