<c-col xs="12" lg="10">
  <!-- Line Chart 1 -->
  
    <c-card class="mb-4">
      <c-card-header>
        Temperature 
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData" [options]="options"></c-chart>
      </c-card-body>
    </c-card>
  

  <!-- Line Chart 2 -->
  
    <c-card class="mb-4">
      <c-card-header>
        Humidity
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineDataHumidity" [options]="options"></c-chart>
      </c-card-body>
    </c-card>
  

  
  <!-- Line Chart 3 -->
  
    <c-card class="mb-4">
      <c-card-header>
        Electricity
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineDataElectricity" [options]="options"></c-chart>
      </c-card-body>
    </c-card>
  

</c-col>

