<c-row>
   
   
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Pie Chart1
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData" [options]="chartPieOptions" />
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Pie Chart2
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData2" [options]="chartPieOptions" />
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
   
   
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Pie Chart3
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData3" [options]="chartPieOptions" />
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  

  
  

  