<c-row>
    <!-- Line Chart 1 -->
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Line Chart 1
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]=" heatmapData" [options]="options"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  
    <!-- Line Chart 2 -->
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Line Chart 2
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]=" heatmapData2" [options]="options"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  
    <c-row>
  
    <!-- Line Chart 3 -->
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Line Chart 3
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]=" heatmapData3" [options]="options"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  